@use "./Variables.scss" as *;

.header-container {
  width: 100vw;
  background-color: $background-color;
}

.logo-text-container {
  display: flex;
  align-items: center;

  .logo-style {
    height: 8vh;
    margin-left: 10px;
  }

  .text-color {
    font-family: $font-text;
    margin-left: 10px;
    color: white;
  }

  .menu-title-container {
    display: flex;
    align-items: center;
  }

  // Menu Burger style
  .burger-icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 15px;
  }
  .bm-overlay {
    display: none !important;
  }
  .bm-item-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/images/backgroundmenu.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    gap: 10px;
  }
  .bm-menu-wrap {
    top: 74.55px;
  }
  .close-icon {
    display: flex !important;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
  }
}
