@use "./Variables.scss" as *;

.header-container {
  width: 100vw;
  background-color: $background-color;
}

.logo-text-container {
  display: flex;
  align-items: center;

  .logo-style {
    height: 10vh;
    margin-left: 10px;
  }

  .text-color {
    font-family: $font-text;
    margin-left: 10px;
    color: white;
  }

  .menu-title-container {
    display: flex;
    align-items: center;
  }

  .burger-icon {
    margin-left: 40vw;
  }
  .bm-overlay {
    display: none !important;
  }
  .bm-item-list {
    background-color: aqua;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .bm-menu-wrap {
    top: 0;
  }
}
