@use "./Variables.scss" as *;

.home-container {
  margin-top: 30px;
  h1,
  h2,
  h3 {
    font-size: 1rem;
    font-family: $font-text;
  }
  .text-sky {
    font-size: 0.8rem;
    font-family: $font-text;
  }
  .input-container {
    display: flex;
    justify-content: center;
  }
  .input-style {
    width: 80%;
    border: solid 2px black;
    border-radius: 20px;
    padding: 5px;
    &::placeholder {
      color: $text-color-black;
      font-family: $font-text;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .cards-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .weather-card {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $background-color;
      color: $text-color;
      border-radius: 10px;
      padding: 5px;
      width: 25%;
      height: auto;
      margin: 10px;
    }
    .city-name {
      font-size: 0.9rem;
      font-family: $font-text;
    }
    .icon-weather {
      width: 50px;
    }
  }

  .prevision-container {
    margin-top: 15px;

    .city-style {
      font-size: 1.2rem;
      color: $background-color;
    }

    .text-prevision {
      margin-left: 8vw;
      font-size: 1rem;
      font-family: $font-text;
      font-weight: bold;
    }

    .prevision-days-block {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
    }
    .prevision-days-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 2px black;
      text-align: center;
      border-radius: 5px;
      color: $text-color;
      padding: 10px;
      background-color: $background-color;
      height: 150px;
      width: 35vw;
    }
    .prevision-days-group {
      display: flex;
      justify-content: center;
      gap: 15vw;
      margin-top: 10px;
    }
    .icon-prevision {
      width: 60px;
    }
    .carousel .control-arrow:focus {
      outline: none !important;
      background-color: transparent !important;
    }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid $background-color;
    }
    .carousel .control-next.control-arrow:before {
      border-left: 8px solid $background-color;
    }
    .carousel .control-arrow {
      opacity: 1;
    }
  }
}
