@use "./Variables.scss" as *;

.map-interactive-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .map-container {
    border: solid 2px $background-color;
    border-radius: 10px;
    height: 50vh;
    width: 90%;
  }
}
