@use "./Variables.scss" as *;

.map-interactive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  position: relative;

  .map-container {
    border: solid 2px $background-color;
    border-radius: 10px;
    height: 50vh;
    width: 90%;
  }
  .city-controls {
    position: absolute;
    bottom: 0;
    left: 35px;
    z-index: 1000;
    label {
      font-family: $font-text;
    }
  }
}
